In [63]:
import pandas as pd
import numpy as np

# 1

In [61]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]

A.extend(B)
print(A)

[1, 2, 3, 4, 5, 6, 13, 21, 34]

# 2

In [64]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

# 3

In [3]:
# read data
fuel_df = pd.read_csv('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv')

In [71]:
fuel_df.columns

Index(['record_id', 'utility_id_ferc1', 'report_year', 'plant_name_ferc1',
       'fuel_type_code_pudl', 'fuel_unit', 'fuel_qty_burned',
       'fuel_mmbtu_per_unit', 'fuel_cost_per_unit_burned',
       'fuel_cost_per_unit_delivered', 'fuel_cost_per_mmbtu'],
      dtype='object')

In [70]:
fuel_df.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean().sort_values(ascending=True)
# gas as the lowest average fuel cost per unit burned

fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64

# 4

In [78]:
round(fuel_df.describe()['fuel_mmbtu_per_unit'],2)
# standard deviation and 75th percentile of the measure of energy per unit
# (Fuel_mmbtu_per_unit) in two decimal places is 10.60 and 17.01

count    29523.00
mean         8.49
std         10.60
min          0.00
25%          1.02
50%          5.76
75%         17.01
max        341.26
Name: fuel_mmbtu_per_unit, dtype: float64

# 5

In [84]:
# skewness and kurtosis for the fuel quantity burned in two decimal places

print('Skewness and Kurtosis for the fuel quantity burned in two decimal places is {} and {}'.format(
    round(fuel_df['fuel_qty_burned'].skew(),2),round(fuel_df['fuel_qty_burned'].kurtosis(),2)))

Skewness and Kurtosis for the fuel quantity burned in two decimal places is 15.85 and 651.37

# 6

In [95]:
fuel_df.isnull().sum().sort_values(ascending=False)[:1]

fuel_unit    180
dtype: int64

In [97]:
percent_missing = fuel_df.isnull().sum() * 100 / len(fuel_df)
round(percent_missing.sort_values(ascending=False)[:1],3)

# Feature: fuel_unit, Total: 180, Percent: 0.610

fuel_unit    0.61
dtype: float64

# 7

In [98]:
# The feature with missing values falls under categorical feature
# The missing value imputation technique used is mode imputation

# 8

In [105]:
fuel_df.corr()['fuel_cost_per_unit_burned'].sort_values()[:5]

# fuel_qty_burned and fuel_mmbtu_per_unit are the the features has the second and third lowest 
# correlation with the Fuel Cost Per Unit Burned

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
Name: fuel_cost_per_unit_burned, dtype: float64

# 9

In [132]:
coal = fuel_df[fuel_df['fuel_type_code_pudl'] == 'coal']
group_df = pd.DataFrame(coal.groupby('report_year')['fuel_cost_per_unit_burned'].sum())
pd.DataFrame([group_df.loc[1994][0],group_df.loc[1998][0]]).pct_change()*100

# The percentage change in the fuel cost per unit burned in 1998 compared to 1994 is -21%

           0
0        NaN
1 -20.567655

# 10

In [133]:
pd.DataFrame(fuel_df.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().sort_values(
    ascending=False))

# 1997 has the highest average fuel cost per unit delivered

             fuel_cost_per_unit_delivered
report_year
1997                         11140.197239
1996                          9196.705948
2000                           985.362877
2009                           652.694163
2018                           499.269966
2015                           326.535511
1998                           287.154420
2014                           192.737183
2013                           172.307591
2004                           139.524275
2016                           103.901761
2010                            91.862105
1994                            63.636060
2012                            60.994502
2001                            60.050396
2011                            59.774667
2008                            58.588197
2003                            55.663493
2002                            47.594361
2017                            46.196861
2007                            43.325023
2005                            41.438184
2006                            38.657484
1995                            32.735269
1999                            25.551627